@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Gerenciador de Jogos</h1>
    <p class="lead">
        Bem vindo ao gerenciador de empréstimos de jogos <br /><br />
    </p>
</div>